#PI-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ajusta la altura del contenedor según tus necesidades */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;  */
    /* SI LE SACO ESTO, se centra, preguntar el jueves*/
}

.button-container button {
    /* margin-bottom: 20px; */
    margin-left: 32px;
    /* Aumentar el margen izquierdo */
    margin-right: 32px;
    /* Aumentar el margen derecho */
}

.PI-text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

.PI-text2 {
    margin: -4px
}