.activatePlan-modal-header {
    background-color: darkred;
}

.activatePlan-modal-header closeButton {
    color: white
}

.activatePlan-modal-title {
    color: white
}

.activatePlan-alertText {
    color: red;
    font-weight: bold;
    font-size: 18px;
}