.activateUser-modal-header {
    background-color: rgb(9, 78, 9);
}

.activateUser-modal-header closeButton {
    color: white
}

.activateUser-modal-title {
    color: white
}

.activateUser-alertText {
    color: red;
    font-weight: bold;
    font-size: 18px;
}