.recover-modal-header {
    background-color: darkred;
}

.btn-close {
    color: white;
}

.recover-modal-header closeButton {
    color: white
}

.recover-modal-title {
    color: white
}

.botonCrearCuenta {
    margin-right: 8px;
    background-color: darkred;
    border: none;
}